In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
data = pd.read_csv('merged_data.csv')

In [ ]:
data.shape

(13609, 12)

In [ ]:
data.isna().sum()

Area                0
Item                0
Element             0
Year                0
Unit                0
Value               0
currency_name       0
pricetype_id        0
pricetype_name      0
usdcurrency_id      0
usdcurrency_name    0
mp_price            0
dtype: int64

In [ ]:
data.Area.unique()

array(['Afghanistan', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Bangladesh', 'Belarus', 'Benin', 'Bhutan', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Central African Republic',
       'Chad', 'China', 'Colombia', 'Congo', 'Costa Rica',
       'Democratic Republic of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Indonesia', 'Iraq', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Lebanon', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mexico', 'Mongolia', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Pakistan',
       'Panama', 'Paraguay', 'Peru', 'Philippines', 'Rwanda', 'Senegal',
       'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan',
       'Sri Lanka', 'Sudan', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Uganda', 'Ukraine',
       'United Republic of Tanzania', 'Viet Nam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [ ]:
data.Item

0         Rice
1         Rice
2         Rice
3         Rice
4         Rice
         ...
13604    Wheat
13605    Wheat
13606    Wheat
13607    Wheat
13608    Wheat
Name: Item, Length: 13609, dtype: object

In [ ]:
#china_data = data[data['Area'] == ["China"or"Egypt"]]
china_data = data[(data['Area'] == 'China') | (data['Area'] == 'Egypt')]

In [ ]:
china_data.drop(columns=["Area"], inplace=True)

<ipython-input-61-1d60fda21802>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  china_data.drop(columns=["Area"], inplace=True)

In [ ]:
# Identify categorical columns and apply one-hot encoding
categorical_cols = ['Item', 'Element', 'Unit', 'currency_name', 'pricetype_name',"usdcurrency_name"]
china_data = pd.get_dummies(china_data, columns=categorical_cols, drop_first=True)

In [ ]:
china_data

,Year,Value,pricetype_id,usdcurrency_id,mp_price,Item_Rice,Item_Tomatoes,Item_Wheat,Element_Gross Production Value (constant 2014-2016 thousand SLC),Element_Gross Production Value (constant 2014-2016 thousand US$),Element_Gross Production Value (current thousand SLC),Element_Gross Production Value (current thousand US$),Unit_1000 SLC,Unit_1000 US$,currency_name_EGP,pricetype_name_Wholesale
2621,2014,81436170.0,14,5,3.881092,1,0,0,0,0,0,0,0,0,0,1
2622,2014,81436170.0,14,5,4.618194,1,0,0,0,0,0,0,0,0,0,1
2623,2014,94557101.0,14,5,3.881092,1,0,0,0,0,0,1,0,1,0,1
2624,2014,94557101.0,14,5,4.618194,1,0,0,0,0,0,1,0,1,0,1
2625,2014,102926739.0,14,5,3.881092,1,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,2020,2591947.0,15,5,7.586667,0,1,0,0,0,0,1,0,1,1,0
3990,2020,1182850.0,15,5,7.586667,0,1,0,0,1,0,0,0,1,1,0
3991,2021,2973722.0,15,5,4.261667,0,1,0,0,0,0,0,0,0,1,0
3992,2021,9164652.0,15,5,4.261667,0,1,0,1,0,0,0,1,0,1,0
3993,2021,1137648.0,15,5,4.261667,0,1,0,0,1,0,0,0,1,1,0

In [ ]:
X = china_data.drop('mp_price', axis=1)
y = china_data['mp_price']

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the mean squared error to evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 1.1219805668413503

In [ ]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print(f"R-squared (R^2): {r2}")

R-squared (R^2): 0.7416453051592948